.extraClass {
  width: 400px !important;
  font-size: 20px !important;
  color: white !important;
  /* background-color: #54c3e7 !important; */
  pointer-events: auto !important;
  opacity: 1 !important;
}

.extraClass1 {
  /* width: 300px !important; */
  font-size: 20px !important;
  color: white !important;
  /* background-color: #54c3e7 !important; */
  pointer-events: auto !important;
  opacity: 1 !important;

}

.errorMsg{
  font-size: 20px !important;
  text-transform: none !important;
}